* {
  margin: 0;
  padding: 0;
}
.work-section .row .col-sm-12 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: white;
  width: 180px;
  border-radius: 3px;
}
.work-section .row .col-sm-12 div h6 {
  color: navy;
  font-weight: bold;
}
.work-section .row .col-sm-12 div a {
  text-decoration: none;
  color: white;
  background-color: rgb(32, 32, 214);
  padding: 1px 14px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.work-section .row .col-sm-12 div img {
width: 100%;
border-radius: 4px;
}
